trix-editor {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}

trix-editor.is-invalid {
    border-color: rgb(220 53 69);
}

trix-toolbar {
    padding: 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid rgb(209 213 219);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
} 