name: Laravel

on:
  push:
    branches: [ "crm_eaea_ro" ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest
    environment: CRM_EAEA

    steps:
    - uses: shivammathur/setup-php@15c43e89cdef867065b0213be354c2841860869e
      with:
        php-version: '8.2'  # Ensure PHP version matches your composer.json
        
    - uses: actions/checkout@v4

    # Step 1: Run composer install to install dependencies
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  
    # Step 2: Upload all files except the .env, .git, and .htaccess files to FTP
    - name: Upload files to FTP (excluding .env, .git, and .htaccess)
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ${{ vars.FTP_URL }}
        username: ${{ vars.FTP_USER }}
        password: ${{ secrets.FTP_PASS }}
        local-dir: ./  # Path to your local project directory
        server-dir: /  # FTP target directory
        exclude: |
          .env
          .git/
          .htaccess  # Ensure these files and directories are excluded from upload
