name: Deploy on production

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: PROD

    steps:
    - uses: actions/checkout@v4
    
    - name: Install SSH client (if needed)
      run: sudo apt-get update && sudo apt-get install -y openssh-client

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        # If you decide to use ssh-keyscan to avoid MITM attacks
        ssh-keyscan -H ${{ secrets.DEPLOY_SERVER }} >> ~/.ssh/known_hosts
      shell: bash

    - name: Backup files on remote server
      run: |
        ssh -i ~/.ssh/id_rsa ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_SERVER }} "\
          cp ${DEPLOY_PATH}/.env ${DEPLOY_PATH}/.. && \
          cp ${DEPLOY_PATH}/.htaccess ${DEPLOY_PATH}/.. && \
          cp -r ${DEPLOY_PATH}/storage/logs ${DEPLOY_PATH}/.."
      shell: bash -e {0}
      env:
        DEPLOY_PATH: ${{ secrets.DEPLOY_PATH }}

    - name: Zip deployment files
      run: zip -r deployment.zip . -x "*.git*"

    - name: Transfer files using SCP
      run: scp -i ~/.ssh/id_rsa deployment.zip ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_SERVER }}:${{ secrets.DEPLOY_PATH }}
        
    - name: Unzip and Clean up on the server
      run: |
        ssh -i ~/.ssh/id_rsa ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_SERVER }} "\
          cd ${{ secrets.DEPLOY_PATH }} && \
          unzip -o deployment.zip && \
          rm deployment.zip"
      shell: bash

    - name: Move configuration files and logs
      run: |
        ssh -i ~/.ssh/id_rsa ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_SERVER }} "\
          cd ${{ secrets.DEPLOY_PATH }} && \
          mv ../.env . && \
          mv ../.htaccess . && \
          [ -d ../storage/logs ] && mv ../storage/logs ./storage/ || echo 'storage/logs directory does not exist, skipping'"
      shell: bash
      
    # - name: Install NVM and Node.js
    #   run: |
    #     ssh -i ~/.ssh/id_rsa ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_SERVER }} "\
    #       curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash && \
    #       export NVM_DIR=\\\"$HOME/.nvm\\\" && \
    #       [ -s \\\"$NVM_DIR/nvm.sh\\\" ] && \\. \\\"$NVM_DIR/nvm.sh\\\" && \
    #       [ -s \\\"$NVM_DIR/bash_completion\\\" ] && \\. \\\"$NVM_DIR/bash_completion\\\" && \
    #       nvm install 20 && \
    #       nvm use 20"
    #   shell: bash
        
    - name: Install dependencies and Vite
      run: |
        ssh -i ~/.ssh/id_rsa ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_SERVER }} "\
          cd ${{ secrets.DEPLOY_PATH }} && \
          composer install && \
          npm install && \
          npm run build && \
          pwd"
      shell: bash
